﻿
@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/template/bower_components/select2/dist/css/select2.min.css">

<br />
<section class="content-header">
    <h1>
        Attendance Detail
    </h1>

</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Attendance List</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <select id="ddMonth" class="form-control left-Button1" name="ddMonth">
                    <option value="-1">All</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">Decmber</option>
                </select>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body" id="dataContainer">
            @{ Html.RenderAction("AttendanceList", "Admin", new { month = -1 });}

        </div>
        <!-- /.box-body -->
    </div>

</section>


@section scripts
    {

    <!-- DataTables -->
    <script src="~/template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


    <script>

         $(function () {
             $('#example1').DataTable()
             $("#ddMonth").change(function () {
                 GetList()
             });
        })


        function GetList() {
            var month = $("#ddMonth").val();
             $.ajax({
                 url: '@Url.Action("AttendanceList", "Admin")',
                 data: {
                     month: month,
                 }
                }).done(function(result) {
                    $('#dataContainer').html(result);
                     $('#example1').DataTable()
                    console.log(result)
                 }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                     console.log(textStatus)
                     console.log(errorThrown)
                     alert("Something Went Wrong, Try Later");
                 });
        }


    </script>


}


