﻿@model IEnumerable<WorkFromHome.Models.Attendance>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/template/bower_components/select2/dist/css/select2.min.css">

<br />
<section class="content-header">
    <h1>
        Todays Attendance
    </h1>

</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Attendance List</h3>
        </div>

        <!-- /.box-header -->
        <div class="box-body" id="dataContainer">
            <table class="table" id="example1">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AttendanceDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CheckIn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CheckOut)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AttendanceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CheckIn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CheckOut)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <!-- /.box-body -->
    </div>

</section>


@section scripts
    {

    <!-- DataTables -->
    <script src="~/template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


    <script>

         $(function () {
             $('#example1').DataTable()
        })


    </script>


}