﻿@model IEnumerable<WorkFromHome.Models.TaskDetail>


<table class="table" id="example1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                TaskBy
            </th>
            <th>
                TaskTo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskResponse)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskBy.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTo.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskResponse)
            </td>
        </tr>
        }
    </tbody>
</table>

