﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Dashboard";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><button class="btn btn-primary" id="btnCheck" onclick="checkIn()">@ViewBag.AttLabel</button></li>

    </ol>
</section>
<br />
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">

            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">

        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-checkmark"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">CheckIn Time</span>
                    <span class="info-box-number" id="checkIN">@ViewBag.CheckIn</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-close"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">CheckOut Time</span>
                    <span class="info-box-number" id="checkOUT">@ViewBag.CheckOut</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>


    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable" id="dataContainer">
          <!-- Chat box -->
          @{ Html.RenderAction("UserTask", "Home");}
          <!-- /.box (chat box) -->
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
          <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title">Send Today Report</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <div class="box-body">
              <form action="#" method="post">
                
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                </div>
                <div>
                  <textarea class="textarea" placeholder="Report . . ." id="txtReport"
                            style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>
              </form>
            </div>
            <div class="box-footer clearfix">
              <button type="button" class="pull-right btn btn-default" id="sendReport" onclick="submitReport(true)">Send
                <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

        </section>
        <!-- right col -->
      </div>
    <!-- /.row -->
</section>






@section scripts
    {
    <script>

         $(function () {
             submitReport(false);
        })

        function TaskResponse(id) {
            var response = $('#txtResponse' + id).val();
            console.log(response)
             $.ajax({
                 url: '@Url.Action("UserTask", "Home")',
                 type: "POST",
                 data: {
                     taskId: id,
                     TaskResponse : response
                 }
                }).done(function(result) {
                    $('#dataContainer').html(result);
                    console.log(result)
                 }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                     console.log(textStatus)
                     console.log(errorThrown)
                     alert("Something Went Wrong, Try Later");
                 });
        }

        function checkIn() {

            $.ajax({
                url: '/Global/userCheckIn',
                type: "GET",
                success: function (data) {
                    if (data == false) {
                        alert('Something Went Wrong, Try Later', 'Error')
                    } else {
                        console.log(data)
                        $("#checkIN").empty();
                        $("#checkOUT").empty();
                        var checkin = data.CheckIn.Hours + " : " + data.CheckIn.Minutes + " : " + data.CheckIn.Seconds;
                        var checkout = data.CheckOut.Hours + " : " + data.CheckOut.Minutes + " : " + data.CheckOut.Seconds;
                        $("#checkIN").append(checkin)
                        $("#checkOUT").append(checkout)
                        $("#btnCheck").text("CheckOut")

                    }
                },
                error: function () {
                    alert('Something Went Wrong, Try Later', 'Error')
                }
            });
        }

        function submitReport(status) {
           
            var formData = new FormData();
            formData.append("Subject", $("#subject").val());
            formData.append("Report", $("#txtReport").val());
            formData.append("Update", status);
            var url = "/Home/SubmitReport";
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data == 1 || data == 2) {
                        alert("Report Submitted Successfully");
                    }
                    else if (data == 3) {
                        console.log("not submitted yet")
                    } else {
                        $("#subject").val(data.Subject);
                        $("#txtReport").val(data.Report);
                    }
                },
                error: function () {
                    alert("Something Went Wrong, Try Later");
                }
            });
        }
       
    </script>



}