﻿@model WorkFromHome.Models.TaskDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1>
        Staff Task
    </h1>

</section>
<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Assign Task</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date)
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "Select Date" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TaskToID, "TaskToID")
                            @Html.DropDownList("TaskToID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TaskToID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Task)
                            @Html.EditorFor(model => model.Task, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Task" } })
                            @Html.ValidationMessageFor(model => model.Task, "", new { @class = "text-danger" })
                        </div>

                    </div>

                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" value="Assign Task" class="btn btn-info pull-right" />
            </div>

        </div>
    }
</section>

