﻿@model WorkFromHome.Models.User



<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/template/dist/img/avatar5.png" class="user-image" alt="User Image">
        <span class="hidden-xs"> @Html.DisplayFor(model => model.FullName)</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/template/dist/img/avatar5.png" class="img-circle" alt="User Image">
            <p>
                @Html.DisplayFor(model => model.FullName) -  @Html.DisplayFor(model => model.Designation)
                <small>@Html.DisplayFor(model => model.Email)</small>
            </p>
        </li>
        <!-- Menu Body -->
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat" onclick="getProfile()">Profile</a>
            </div>
            <div class="pull-right">
                <a href="/Account/LogOff" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>

