﻿<!DOCTYPE html>
<html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WFH | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/template/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/template/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/template/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/template/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/template/dist/css/skins/_all-skins.min.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>W</b>FH</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Work</b>From Home</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        @{ Html.RenderAction("LogedInUsers", "Global");}
                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">

                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                    </div>
                </div>
                <br />
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Main Nav</li>
                    <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>  <span>Dashboard</span></a></li>
                    <li><a href="/Home/Attendance"><i class="fa fa-users"></i> <span>Attendance</span></a></li>
                    <li><a href="/Home/Reports"><i class="fa fa-user-secret"></i> <span>Report</span></a></li>
                    <li><a href="/Home/Tasks"><i class="fa fa-building"></i> <span>Task</span></a></li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()

        </div>

        <div class="modal fade" id="profileModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" id="epUserID" />
                                    <label for="eptxtName">Name</label>
                                    <input type="text" class="form-control" id="eptxtName" placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <label for="eptxtPhone">Phone</label>
                                    <input type="number" class="form-control" id="eptxtPhone" placeholder="Enter Phone">
                                </div>
                                <div class="form-group">
                                    <label for="eptxtUsername">Username</label>
                                    <input type="text" class="form-control" id="eptxtUsername" placeholder="Enter Username">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="eptxtEmail">Email</label>
                                    <input type="email" class="form-control" id="eptxtEmail" placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <label for="eptxtDesignation">Designation</label>
                                    <input type="text" class="form-control" id="eptxtDesignation" placeholder="Enter Designation">
                                </div>
                                <div class="form-group">
                                    <label for="eptxtPassword">Password</label>
                                    <input type="password" class="form-control" id="eptxtPassword" placeholder="Enter Password">
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="UpdateProfile()">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2020 <a href="https://adminlte.io">IT Traveler</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/template/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/template/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/template/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/template/dist/js/demo.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src='https://www.gstatic.com/firebasejs/6.4.2/firebase-app.js' type="text/javascript"></script>

    <script src='https://www.gstatic.com/firebasejs/6.4.2/firebase-messaging.js' type="text/javascript"></script>

    <script>


        $(function () {
            var appt = $.connection.TaskHub;
            appt.client.newTask = function () {
                getDEtails();
            };
            $.connection.hub.start().done(function () {
                console.log("connection started")
                //notifications.onconn();
                //   getDEtails();
            }).fail(function (e) {
                console.log(e);
            });
        });
        $(function () {

            var token = null;
            var config = {
                apiKey: "AIzaSyBHD0FfT6VBL4kje_dqEX0f2Y3OBzMUybk",
                authDomain: "asp-mvc-with-android.firebaseapp.com",
                databaseURL: "https://asp-mvc-with-android.firebaseio.com",
                projectId: "asp-mvc-with-android",
                storageBucket: "asp-mvc-with-android.appspot.com",
                messagingSenderId: "371396359158",
                appId: "1:371396359158:web:2d741d56fd5bfb7089cdd7"
            };
            firebase.initializeApp(config);

            const messaging = firebase.messaging();

            messaging.requestPermission()
                .then(function () {
                    console.log("granted");
                    if (isTokenSentToServer()) {
                        console.log("already granted");
                    } else {
                        getRegtoken();
                    }
                });


            function getRegtoken() {
                messaging.getToken().then((currentToken) => {
                    if (currentToken) {
                        console.log(currentToken);
                        setTokenSentToServer(true);
                        saveToken(currentToken)
                        //   updateUIForPushEnabled(currentToken);
                    } else {
                        console.log('No Instance ID token available. Request permission to generate one.');
                        setTokenSentToServer(false);
                    }
                }).catch((err) => {
                    console.log('An error occurred while retrieving token. ', err);
                    setTokenSentToServer(false);
                });

            }
            function setTokenSentToServer(sent) {
                window.localStorage.setItem('sentToServer', sent ? 1 : 0);
            }
            function isTokenSentToServer() {
                return window.localStorage.getItem('sentToServer') === '1';
            }
            messaging.onMessage(function (payload) {
                console.log('Message received. ', payload);

                notificationTitle = payload.notification.title;
                notificationOptions = {
                    body: payload.notification.body,
                    icon: payload.notification.icon
                };

                var notification = new Notification(notificationTitle, notificationOptions);

            });

        });

        function saveToken(tok) {
            $.ajax({
                type: 'POST',
                url: "/Home/AddToken",
                data: { token: tok },
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });

        }


    </script>


    <script>



        $(document).ready(function () {
            $('.sidebar-menu').tree()
            //$('.select2').select2()
        })
        var userDetail;
        function getProfile() {
            $.ajax({
                type: 'GET',
                url: '/Global/loginUser',
                success: function (data) {
                    $("#profileModal").modal();
                    $("#epUserID").val(data.UserID);
                    $("#eptxtName").val(data.FullName);
                    $("#eptxtPhone").val(data.Phone);
                    $("#eptxtEmail").val(data.Email);
                    $("#eptxtDesignation").val(data.Designation);
                    $("#eptxtUsername").val(data.Username);
                    $("#eptxtPassword").val(data.Password);
                    userDetail = data;
                },
                error: function () {
                    alert("Something went wrong while loading record...");
                }

            });

        }

        // Save Edit Data and Delete Data
        function UpdateProfile() {
            if ($("#eptxtName").val() == "") {
                $("#eptxtName").focus();
                return false;
            }
            if ($("#eptxtPhone").val() == "") {
                $("#eptxtPhone").focus();
                return false;
            }
            if ($("#eptxtUsername").val() == "") {
                $("#eptxtUsername").focus();
                return false;
            }
            if ($("#eptxtPassword").val() == "") {
                $("#eptxtPassword").focus();
                return false;
            }


            var formData = new FormData();
            formData.append("UserID", $("#epUserID").val());
            formData.append("FullName", $("#eptxtName").val());
            formData.append("Phone", $("#eptxtPhone").val());
            formData.append("Email", $("#eptxtEmail").val());
            formData.append("Designation", $("#eptxtDesignation").val());
            formData.append("Username", $("#eptxtUsername").val());
            formData.append("Password", $("#eptxtPassword").val());
            formData.append("RoleID", userDetail.RoleID);
            formData.append("DepartID", userDetail.DepartID);

            var url = "/User/UpdateUser";
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data == true) {
                        alert("Profile Updated Successfully, Please Login Again");
                        window.location.href = '/Account/LogOff/';
                    }
                    else {
                        alert("Something Went Wrong, Try Later");
                        $('#profileModal').modal('hide');
                    }
                },
                error: function () {
                    alert("Something Went Wrong, Try Later");
                }
            });
        }

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
</html>