﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/template/bower_components/select2/dist/css/select2.min.css">
<style>

    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>

<br />
<section class="content-header">
    <h1>
        Application Users
    </h1>

</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add User</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtName">Name</label>
                            <input type="text" class="form-control" id="txtName" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="txtPhone">Phone</label>
                            <input type="number" class="form-control" id="txtPhone" placeholder="Enter Phone">
                        </div>
                        <div class="form-group">
                            <label for="txtUsername">Username</label>
                            <input type="text" class="form-control" id="txtUsername" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="ddDepartment">Department</label>
                            <select class="form-control select2" style="width: 100%;" id="ddDepartment"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtEmail">Email</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="txtDesignation">Designation</label>
                            <input type="text" class="form-control" id="txtDesignation" placeholder="Enter Designation">
                        </div>
                        <div class="form-group">
                            <label for="txtPassword">Password</label>
                            <input type="password" class="form-control" id="txtPassword" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label for="ddRole">Role</label>
                            <select class="form-control select2" style="width: 100%;" id="ddRole"></select>
                        </div>
                    </div>
                    
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" onclick="AddUser()" class="btn btn-info pull-right">Add User</button>
                </div>
   
    </div>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Users List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" id="dataContainer">
            @{ Html.RenderAction("UsersLists", "User");}

        </div>
        <!-- /.box-body -->
    </div>

    <div class="modal fade" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="UserID" />
                                <label for="estxtName">Name</label>
                                <input type="text" class="form-control" id="etxtName" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label for="etxtPhone">Phone</label>
                                <input type="number" class="form-control" id="etxtPhone" placeholder="Enter Phone">
                            </div>
                            <div class="form-group">
                                <label for="etxtUsername">Username</label>
                                <input type="text" class="form-control" id="etxtUsername" placeholder="Enter Username">
                            </div>
                            <div class="form-group">
                                <label for="eddDepartment">Department</label>
                                <select class="form-control select2" style="width: 100%;" id="eddDepartment"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="etxtEmail">Email</label>
                                <input type="email" class="form-control" id="etxtEmail" placeholder="Enter Email">
                            </div>
                            <div class="form-group">
                                <label for="etxtDesignation">Designation</label>
                                <input type="text" class="form-control" id="etxtDesignation" placeholder="Enter Designation">
                            </div>
                            <div class="form-group">
                                <label for="etxtPassword">Password</label>
                                <input type="password" class="form-control" id="etxtPassword" placeholder="Enter Password">
                            </div>
                            <div class="form-group">
                                <label for="eddRole">Role</label>
                                <select class="form-control select2" style="width: 100%;" id="eddRole"></select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="UpdateUser()">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are You Sure you want to Delete this User&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="DeleteConfirmed()">Yes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>

@section scripts
    {

    <!-- DataTables -->
    <script src="~/template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
     <!-- Select2 -->
    <script src="~/template/bower_components/select2/dist/js/select2.full.min.js"></script>



    <script>

         $(function () {
             $('#example1').DataTable()
             
             ddRoles();
             ddDeparts();
             $('.select2').select2()
        })

        function ddRoles() {

            $.ajax({
                url: '/Global/Roles',
                type: "GET",
                success: function (data) {
                    $("#ddRole").empty();
                    $("#eddRole").empty();
                    $.each(data, function (index, row) {
                        $("#ddRole").append("<option value='" + row.RoleID + "'>" + row.RoleName + "</option>");
                        $("#eddRole").append("<option value='" + row.RoleID + "'>" + row.RoleName + "</option>");

                    });

                },
                error: function () {
                    alert('Something Went Wrong, Try Later', 'Error')
                }
            });
        }

        function ddDeparts() {

            $.ajax({
                url: '/Global/Departments',
                type: "GET",
                success: function (data) {
                    $("#ddDepartment").empty();
                    $("#eddDepartment").empty();
                    $.each(data, function (index, row) {
                        $("#ddDepartment").append("<option value='" + row.DepartID + "'>" + row.DepartName + "</option>");
                        $("#eddDepartment").append("<option value='" + row.DepartID + "'>" + row.DepartName + "</option>");

                    });

                },
                error: function () {
                    alert('Something Went Wrong, Try Later', 'Error')
                }
            });
        }

         function GetList() {
             $.ajax({
                    url: '@Url.Action("UsersLists", "User")'

                }).done(function(result) {
                    $('#dataContainer').html(result);
                     $('#example1').DataTable()
                    console.log(result)
                 }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                     console.log(textStatus)
                     console.log(errorThrown)
                     alert("Something Went Wrong, Try Later");
                 });
        }
        //Save New Record
        function AddUser(){
            if ($("#txtName").val() == "") {
                $("#txtName").focus();
                return false;
            }
            if ($("#txtPhone").val() == "") {
                $("#txtPhone").focus();
                return false;
            }
            if ($("#txtUsername").val() == "") {
                $("#txtUsername").focus();
                return false;
            }
            if ($("#txtPassword").val() == "") {
                $("#txtPassword").focus();
                return false;
            }
            
            var formData = new FormData();
            formData.append("FullName", $("#txtName").val());
            formData.append("Phone", $("#txtPhone").val());
            formData.append("Email", $("#txtEmail").val());
            formData.append("Designation", $("#txtDesignation").val());
            formData.append("Username", $("#txtUsername").val());
            formData.append("Password", $("#txtPassword").val());
            formData.append("RoleID", $("#ddRole").val());
            formData.append("DepartID", $("#ddDepartment").val());
            var url = "/User/AddUser";
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data == true) {
                        alert("User Added Successfully");
                        $("#txtName").val("");
                        $("#txtPhone").val("");
                        $("#txtEmail").val("");
                        $("#txtDesignation").val("");
                        $("#txtUsername").val("");
                        $("#txtPassword").val("");
                    }
                    else {
                        alert("Error Occured,Please Try Later");
                    }
                    GetList();
                },
                error: function () {
                    alert("Something Went Wrong, Try Later");
                }
            });
        }

        var deleteID, userDetail;
        //Show Modal on Delete and Edit Clicks
        function EditUser(ID) {
            $.ajax({
                type: 'GET',
                url: '/User/EditUser',
                data: { id: ID },
                success: function (data) {
                    $("#editModal").modal();
                    $("#UserID").val(data.UserID);
                    $("#etxtName").val(data.FullName);
                    $("#etxtPhone").val(data.Phone);
                    $("#etxtEmail").val(data.Email);
                    $("#etxtDesignation").val(data.Designation);
                    $("#etxtUsername").val(data.Username);
                    $("#etxtPassword").val(data.Password);
                    $("#eddRole").val(data.RoleID);
                    $("#eddDepartment").val(data.DepartID);
                    userDetail = data;
                },
                error: function () {
                    alert("Something went wrong while loading record...");
                }

            });

        }

        function DeleteUser(TypeID) {
            $("#deleteModal").modal();
            deleteID = TypeID;

        }

        // Save Edit Data and Delete Data
        function UpdateUser() {
            if ($("#etxtName").val() == "") {
                $("#etxtName").focus();
                return false;
            }
            if ($("#etxtPhone").val() == "") {
                $("#etxtPhone").focus();
                return false;
            }
            if ($("#etxtUsername").val() == "") {
                $("#etxtUsername").focus();
                return false;
            }
            if ($("#etxtPassword").val() == "") {
                $("#etxtPassword").focus();
                return false;
            }


            var formData = new FormData();
            formData.append("UserID", $("#UserID").val());
            formData.append("FullName", $("#etxtName").val());
            formData.append("Phone", $("#etxtPhone").val());
            formData.append("Email", $("#etxtEmail").val());
            formData.append("Designation", $("#etxtDesignation").val());
            formData.append("Username", $("#etxtUsername").val());
            formData.append("Password", $("#etxtPassword").val());
            formData.append("RoleID", $("#eddRole").val());
            formData.append("DepartID", $("#eddDepartment").val());

            var url = "/User/UpdateUser";
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data == true) {
                        alert("User Updated Successfully");
                        $("#UserID").val("");
                        $("#etxtName").val("");
                        $("#etxtPhone").val("");
                        $("#etxtEmail").val("");
                        $("#etxtDesignation").val("");
                        $("#etxtUsername").val("");
                        $("#etxtPassword").val("");
                        $('#editModal').modal('hide');
                    }
                    else {
                        alert("Something Went Wrong, Try Later");
                        $('#editModal').modal('hide');
                    }
                    GetList();
                },
                error: function () {
                    alert("Something Went Wrong, Try Later");
                }
            });
        }

        function DeleteConfirmed() {
            $.ajax({
                type: "GET",
                url: '/Departments/DeleteConfirmed',
                data: { id: deleteID },
                success: function (status) {
                    alert("Record has been deleted")
                    $('#deleteModal').modal('hide');
                    GetList()
                },
                error: function () {
                    alert("Something Went Wrong, Try Later");
                }
            });
        }

    </script>

}


