﻿@model IEnumerable<WorkFromHome.Models.User>

<table id="example1" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a href='#' class='btn btn-success' onclick="@("EditUser('" + item.UserID + "')")"> <span class='fa fa-edit' style="color: white; font-size: 20px;"></span></a> &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href='#' class='btn btn-danger' onclick="@("DeleteUser('" + item.UserID + "')")"> <span class='fa fa-remove' style='color: white; font-size: 20px;'></span> </a>

                </td>
            </tr>
        }
        </tbody>
</table>
